<WithStatechart @state={{this.statechart}} as |chart|>
  <chart.if @state="init">
    <button {{on "click" (fn chart.preventAndSend "CLICK")}} type="button">{{yield}}</button>
  </chart.if>

  <chart.if @state="unconfirmed">
    Are you sure?
    <button {{on "click" (fn chart.preventAndSend "CANCEL")}} type="button">No</button>
    <button {{on "click" (fn chart.preventAndSend "CLICK")}} type="button">Yes</button>
  </chart.if>

  <chart.if @state="confirmed">
    Action executed!
  </chart.if>
</WithStatechart>
