{{page-title "Roles"}}

<ul class="au-c-list">
  {{#each this.currentAccount.availableRoles as |role|}}
    <li class="au-c-list__item">
      <AuButton @skin="secondary" @width="block" {{on "click" (fn this.chooseRole role)}} >
        {{#if (is-validator-role role)}}
          Inter validator
        {{else}}
          Invoerder: {{role.pointOfInterest.label}}
        {{/if}}
      </AuButton>
    </li>
  {{/each}}
</ul>

{{outlet}}