{{#each @subject.experiences as |experience|}}
  <Tree::Node
    @node={{@node}}
    @subject={{experience}}
    @title={{concat "Circulatie - " experience.title}}
    @disableHandlerComponent={{true}}
    class="au-c-tree__item au-c-tree__item--child">

    <LinkTo {{on "click" this.sidebarFocus}} class="au-c-tree__edit" @route="poi.show.tree.edit" @models={{array @node.id experience.id}} area-label="Circulatie - {{experience.title}} aanpassen">
      <AuIcon @icon="pencil" />
      <span class="au-c-tree__edit-label">Aanpassen</span>
    </LinkTo>
  </Tree::Node>
{{/each}}