{{#each @subject.experiences as |experience|}}
  <Tree::Node
    @node={{@node}}
    @subject={{experience}}
    @title={{concat "Beleving - " experience.title}}
    @disableHandlerComponent={{true}}
    class="au-c-tree__item au-c-tree__item--child">

    <LinkTo class="au-c-tree__edit" @route="experience.show.tree.edit" @models={{array experience.id @node.id}}>
      <AuIcon @icon="pencil" />
      <span class="au-c-tree__edit-label">Aanpassen</span>
    </LinkTo>
  </Tree::Node>
{{/each}}