<div class='toevla-image-edit'>
<LinkTo @route='experience.show.tree' @model={{this.experience}}>Terug</LinkTo>
<br>
{{@model.id}}
<br>
<img src="/images/{{@model.id}}?height=600" alt="{{@model.label}}"/>
<br>
Label: <Input @type="text" @value={{@model.label}} @key-down={{this.updateLabel}}/>
<br>
Order: <Input @type="number" @value={{mut @model.order}}/>
<br>
<button type='button' {{on 'click' this.save}}>Opslaan</button><button type='button' {{on 'click' this.delete}}>Verwijderen</button>
</div>