<div class="au-c-main-container__content au-c-main-container__content--scroll"  id="content">
  <AuToolbar @border="bottom" @skin="tint" @size="medium">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="poi.index" @skin="secondary">
            <AuIcon @icon="arrow-left" @alignment="left" />
            Locaties
         </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <LinkTo @route="poi.show.experiences.index" @model={{@model}} class="au-c-link au-c-link--secondary au-u-limit-breadcrumb">
            {{@model.label}}
          </LinkTo>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong>
            Locatie aanpassen
          </strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>

  <div class="au-o-layout">
    <div class="au-o-region-large">
      <AuHeading @skin="2" class="au-u-margin-bottom">Locatie aanpassen</AuHeading>
      <form {{on "submit" this.submit}} class="au-c-form">
        <p>
          <AuLabel for="edit">Naam</AuLabel>
          <AuInput @width="block" id="edit" @type="string" @value={{this.model.label}} />
        </p>

        <p>
          <AuLabel for="edit">Adres</AuLabel>
          <AuInput @width="block" id="edit" @type="string" @value={{this.model.locationString}} />
        </p>

        <p>
          <AuLabel>Iconen</AuLabel>
          <ul class="au-c-list-radio">
            {{#each this.sortedIcons as |concept|}}
              <li class="au-c-list-radio__item">
                <label class="au-c-list-radio__button">
                  <input
                    name="radios"
                    type="checkbox"
                    checked={{ember-data-object-in-array concept this.model.summaryIcons}}
                    {{on "change" (fn this.toggleIcon concept)}}>
                  <span class="au-c-list-radio__label">
                    <ConceptIcon @for={{concept.uri}} />
                    {{concept.title}}
                  </span>
                </label>
              </li>
            {{/each}}
          </ul>
        </p>

        <AuButtonGroup class="au-u-margin-top-small">
          <AuButton type="submit">Opslaan</AuButton>
        </AuButtonGroup>

      </form>

      <AuToolbar @border="top" class="au-u-margin-top au-u-padding-top-small">
        <AuToolbarGroup class="au-c-toolbar__group--row">
          <ConfirmationButton @onConfirm={{this.delete}}>
            Locatie verwijderen
          </ConfirmationButton>
        </AuToolbarGroup>
      </AuToolbar>
    </div>
  </div>
</div>