{{page-title "Nieuwe locatie toevoegen – Toegankelijk Vlaanderen"}}

<div class="au-c-main-container__content au-c-main-container__content--scroll"  id="content">
  <AuToolbar @border="bottom" @skin="tint" @size="medium">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="poi.index" @skin="secondary">
            <AuIcon @icon="arrow-left" @alignment="left" />
            Locaties
         </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong>
            Nieuwe locatie toevoegen
          </strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2">Nieuwe locatie toevoegen</AuHeading>
    </AuToolbarGroup>
  </AuToolbar>
  <div class="au-o-box au-c-body-container au-c-body-container--scroll au-c-theme-gray-100">
    <WithStatechart @state={{this.statechart}} as |chart|>
      <chart.if @state="init">
        <form {{on "submit" (fn chart.preventAndSend "CREATE")}} class="au-c-form">
          <LabeledInput @label="Type" />

          <ul>
            {{#each this.kinds as |kind|}}
              <li>
                <AuControlRadio
                  @label={{kind.label}}
                  @value={{kind}}
                  @name="kind"
                  {{on "click" (fn (mut this.kind) kind)}}
                />
              </li>
            {{/each}}
          </ul>

          <p>
            <AuLabel for="addpoi">Naam</AuLabel>
            <AuInput id="addpoi" type="text" @value={{this.label}} @width="block" @placeholder="Museum M" />
          </p>

          <p>
            <AuLabel for="edit">Adres</AuLabel>
            <AuInput @width="block" id="edit" @type="string" @value={{this.locationString}} />
          </p>

          <p class="au-u-margin-top-small">
            <AuButton type="submit">Voeg toe</AuButton>
          </p>
        </form>
      </chart.if>

      <chart.if @state="saving">
        <div>
          <AuHeading @level="3" @skin="5">Opslaan</AuHeading>
          <AuLoader />
        </div>
      </chart.if>

      <chart.if @state="failed">
        <AuButtonGroup>
          <AuButton type="button" {{on "click" (fn chart.preventAndSend "RETRY")}}>
            Opnieuw proberen
          </AuButton>
          <AuButton @skin="secondary" type="button" {{on "click" (fn chart.preventAndSend "RESET")}}>
            Reset
          </AuButton>
        </AuButtonGroup>
      </chart.if>

      <chart.if @state="done">
        <div>
          <AuHeading @level="3" @skin="5">Redirecting</AuHeading>
          <AuLoader />
        </div>
      </chart.if>
    </WithStatechart>
  </div>
</div>