<div class="au-c-main-container__content au-c-main-container__content--scroll"  id="content">
  <AuToolbar @border="bottom" @skin="tint" @size="medium">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="poi.index" @skin="secondary">
            <AuIcon @icon="nav-left" @alignment="left" />
            Locaties
         </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong>
            Nieuwe locatie toevoegen
          </strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2">Nieuwe locatie toevoegen</AuHeading>
    </AuToolbarGroup>
  </AuToolbar>
  <div class="au-o-box">
    <WithStatechart @state={{this.statechart}} as |chart|>
      <chart.if @state="init">
        <form {{on "submit" (fn chart.preventAndSend "CREATE")}}>
          <p>
            <AuLabel for="addpoi">Naam</AuLabel>
            <AuInput id="addpoi" type="text" @value={{this.label}} @width="block" @placeholder="Museum M" />
          </p>

          <p class="au-u-margin-top-small">
            <AuButton type="submit">Voeg toe</AuButton>
          </p>
        </form>
      </chart.if>

      <chart.if @state="saving">
        <p class="au-u-h6">
          ... opslaan ...
        </p>
      </chart.if>

      <chart.if @state="failed">
        <AuButtonGroup>
          <AuButton type="button" {{on "click" (fn chart.preventAndSend "RETRY")}}>
            Opnieuw proberen
          </AuButton>
          <AuButton @skin="secondary" type="button" {{on "click" (fn chart.preventAndSend "RESET")}}>
            Reset
          </AuButton>
        </AuButtonGroup>
      </chart.if>

      <chart.if @state="done">
        <p class="au-u-h6">
          ... redirecting ...
        </p>
      </chart.if>
    </WithStatechart>
  </div>
</div>