<div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
  <AuToolbar @border="bottom" @skin="tint" @size="medium">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="poi.index" @skin="secondary">
            <AuIcon @icon="arrow-left" @alignment="left" />
            Locaties
         </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong class="au-u-limit-breadcrumb">
            {{@model.label}}
          </strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2"><span class="au-u-limit-text">{{@model.label}}</span></AuHeading><SmartStore::State />
    </AuToolbarGroup>
    <AuToolbarGroup class="au-u-h6">
      <div class="au-c-button-group">
        {{#if this.currentAccount.roleIsValidator}}
          <LinkTo class="au-c-button au-c-button--tertiary" @route="poi.edit" @model={{@model}}>
            <AuIcon @icon="pencil" @alignment="left" />
            Locatie aanpassen
          </LinkTo>
        {{/if}}

        {{!-- Send --}}
        <AuButton @skin="secondary" {{on "click" (fn (mut this.sendModal) true)}}>
          <AuIcon @icon="send" @alignment="left" />
          Verstuur
        </AuButton>
        <AuModal
          @modalTitle="Verstuur wijzigingen"
          @modalOpen={{this.sendModal}}
          @closeModal={{fn (mut this.sendModal) false}} as |Modal| >
          <Modal.Body>
            <AuAlert @alertIcon="info-circle" @alertTitle="Weet u zeker dat u deze versie wil versturen?" @alertskin="info" class="au-u-margin-bottom-none">
              <p>U kan deze actie niet ongedaan maken.</p>
            </AuAlert>
          </Modal.Body>
          <Modal.Footer>
            {{#if this.currentAccount.roleIsValidator}}
              <AuButton {{on "click" this.sendToMuseum}}>
                Verstuur deze versie
              </AuButton>
            {{/if}}
            {{#if this.currentAccount.roleIsDataEntry}}
              <AuButton {{on "click" this.sendToValidator}}>
                Verstuur deze versie
              </AuButton>
            {{/if}}
            <AuButton @skin="secondary" {{on "click" (fn (mut this.sendModal) false)}}>
              Annuleer
            </AuButton>
          </Modal.Footer>
        </AuModal>

        {{!-- Publish: only visible for Inter --}}
        {{#if this.currentAccount.roleIsValidator}}
          <AuButton {{on "click" (fn (mut this.publishModal) true)}}>
            <AuIcon @icon="publish" @alignment="left" />
            Publiceer
          </AuButton>
          <AuModal
            @modalTitle="Publiceer data"
            @modalOpen={{this.publishModal}}
            @closeModal={{fn (mut this.publishModal) false}} as |Modal| >
            <Modal.Body>
              <AuAlert @alertIcon="info-circle" @alertTitle="Weet u zeker dat u deze versie wil publiceren?" @alertskin="info" class="au-u-margin-bottom-none">
                <p>U kan deze actie niet ongedaan maken.</p>
              </AuAlert>
            </Modal.Body>
            <Modal.Footer>
              <AuButton {{on "click" this.publish}}>
                Publiceer deze versie
              </AuButton>
              <AuButton @skin="secondary" {{on "click" (fn (mut this.publishModal) false)}}>
                Annuleer
              </AuButton>
            </Modal.Footer>
          </AuModal>
        {{/if}}
      </div>
    </AuToolbarGroup>
  </AuToolbar>

  <AuToolbar @border="bottom" @size="medium">
    <div class="au-c-tabs">
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.tree" @model={{@model}}>
        Toegankelijkheidsdata
      </LinkTo>
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.experiences.index" @model={{@model}}>
        Tentoonstelling
      </LinkTo>
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.history.index" @model={{@model}}>
        Historiek
      </LinkTo>
    </div>
  </AuToolbar>

  {{outlet}}
</div>
