<div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
  <AuToolbar @border="bottom" @skin="tint" @size="medium">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="poi.index" @skin="secondary">
            <AuIcon @icon="arrow-left" @alignment="left" />
            Locaties
         </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong class="au-u-limit-breadcrumb">
            {{@model.label}}
          </strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2"><span class="au-u-limit-text">{{@model.label}}</span></AuHeading><SmartStore::State />
    </AuToolbarGroup>
    <AuToolbarGroup class="au-u-h6">
      <div class="au-c-button-group">
        {{#if this.currentAccount.roleIsValidator}}
          <LinkTo class="au-c-button au-c-button--tertiary" @route="poi.edit" @model={{@model}}>
            <AuIcon @icon="pencil" @alignment="left" />
            Locatie aanpassen
          </LinkTo>
        {{/if}}

        {{!-- Send --}}
        {{#if (or this.currentAccount.roleIsValidator this.currentAccount.roleIsDataEntry)}}
          <TransferMuseum
            @buttonLabel="Verstuur"
            @path={{if this.currentAccount.roleIsValidator
                      (concat "/transfer/museum/" this.model.id "/send-to-museum")
                      (concat "/transfer/museum/" this.model.id "/send-to-validator")}}
            @buttonIcon="send"
            @modalTitle="Verstuur wijzigingen"
            @sendLabel="Verstuur deze versie"
            @sendMessage="Weet u zeker dat u deze versie wil verzenden?"
          />
        {{/if}}

        {{!-- Publish: only visible for Inter --}}
        {{#if this.currentAccount.roleIsValidator}}
          <TransferMuseum
            @buttonLabel="Publiceer data"
            @path={{concat "/transfer/museum/" this.model.id "/send-to-public"}}
            @buttonIcon="publish"
            @modalTitle="Publiceer wijzigingen"
            @sendLabel="Verstuur deze versie"
            @sendMessage="Weet u zeker dat u deze versie wil publiceren?"
          />
        {{/if}}
      </div>
    </AuToolbarGroup>
  </AuToolbar>

  <AuToolbar @border="bottom" @size="medium">
    <div class="au-c-tabs" role="tablist" aria-label="Locatie inhoud">
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.tree" @model={{@model}} role="tab" aria-controls="panel-1" id="tab-1">
        Toegankelijkheidsdata
      </LinkTo>
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.experiences.index" @model={{@model}} role="tab" aria-controls="panel-2" id="tab-2">
        Tentoonstelling
      </LinkTo>
      {{!-- <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.history.index" @model={{@model}} role="tab" aria-controls="panel-3" id="tab-3">
        Historiek
      </LinkTo> --}}
    </div>
  </AuToolbar>

  {{outlet}}
</div>
