<div class="au-c-main-container__content au-c-main-container__content--scroll" id="content">
  <AuToolbar @border="bottom" @skin="tint" @size="medium">
    <AuToolbarGroup>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="poi.index" @skin="secondary">
            <AuIcon @icon="arrow-left" @alignment="left" />
            Locaties
         </AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <strong class="au-u-limit-breadcrumb">
            {{@model.label}}
          </strong>
        </li>
      </ul>
    </AuToolbarGroup>
  </AuToolbar>
  <AuToolbar @border="bottom" @size="large">
    <AuToolbarGroup>
      <AuHeading @skin="2"><AuPill>Locatie</AuPill> <span  class="au-u-limit-text">{{@model.label}}</span></AuHeading>
    </AuToolbarGroup>
    <AuToolbarGroup class="au-u-h6">
      <div class="au-c-button au-c-button--secondary">
        O({{this.smartStore.outstandingUpdates.length}}) X({{this.smartStore.executingUpdates.length}}) F({{this.smartStore.failedUpdates.length}})
      </div>
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.experiences.index" @model={{@model}}>
        Belevingen
      </LinkTo>
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.show.tree" @model={{@model}}>
        Kennisboom
      </LinkTo>
      <LinkTo class="au-c-button au-c-button--secondary" @route="poi.edit" @model={{@model}}>
        <AuIcon @icon="pencil" @alignment="left" />
        Aanpassen
      </LinkTo>
    </AuToolbarGroup>
  </AuToolbar>
  <div class="au-o-box">
{{!--
    <article class="au-o-box au-o-box--small au-c-card au-c-card--link au-u-margin-bottom">
      <LinkTo class="au-c-link au-c-link--secondary au-c-card__link" @route="experience.show.tree" @model={{@model}}> Gebouw</LinkTo>
    </article> --}}

    {{outlet}}
  </div>
</div>