<form class="au-c-form js-formvalidation-bound">
  <div class="au-u-margin-bottom-small">
    <AuLabel for="select" class="au-u-margin-bottom-small">Waar gaat uw bericht over?</AuLabel>
    <ul class="au-c-list">
      <li class="au-c-list__item">
        {{wu-radio-button label="Een vraag over de applicatie" value="toevla@inter.vlaanderen?subject=Vraag of probleem - Toegankelijk Vlaanderen" onChange=(action (mut mailto)) isBlock=true}}
      </li>
      <li class="au-c-list__item">
        {{wu-radio-button label="Technische hulp nodig" value="toevla@inter.vlaanderen?subject=Technische hulp nodig - Toegankelijk Vlaanderen" onChange=(action (mut mailto)) isBlock=true}}
      </li>
      <li class="au-c-list__item">
        {{wu-radio-button label="Een suggestie of een feature request versturen" value="toevla@inter.vlaanderen?subject=Een suggestie of een feature request versturen - Toegankelijk Vlaanderen" onChange=(action (mut mailto)) isBlock=true}}
      </li>
      <li class="au-c-list__item">
        {{wu-radio-button label="Een bug melden" value="toevla@inter.vlaanderen?subject=Vraag of probleem - Toegankelijk Vlaanderen" onChange=(action (mut mailto)) isBlock=true}}
      </li>
    </ul>
  </div>

  {{#if mailto}}
    <a href={{concat "mailto:" mailto}} class="au-c-button">Stel bericht op</a>
  {{else}}
    <AuButton @disabled="true">Stel bericht op</AuButton>
  {{/if}}
</form>
