<form class="au-c-form js-formvalidation-bound">
  <div class="au-u-margin-bottom-small">
    <AuLabel for="select" class="au-u-margin-bottom-small">Waar gaat uw bericht over?</AuLabel>
    <ul class="au-c-list">
      <li class="au-c-list__item">
        <WuRadioButton @label="Een vraag over de applicatie" @value="toegankelijk@vlaanderen.be?subject=Vraag of probleem - Toegankelijk Vlaanderen" @onChange={{fn (mut this.mailto)}} @isBlock={{true}} />
      </li>
      <li class="au-c-list__item">
        <WuRadioButton @label="Technische hulp nodig" @value="toegankelijk@vlaanderen.be?subject=Technische hulp nodig - Toegankelijk Vlaanderen" @onChange={{fn (mut this.mailto)}} @isBlock={{true}} />
      </li>
      <li class="au-c-list__item">
        <WuRadioButton @label="Een suggestie of een feature request versturen" @value="toegankelijk@vlaanderen.be?subject=Een suggestie of een feature request versturen - Toegankelijk Vlaanderen" @onChange={{fn (mut this.mailto)}} @isBlock={{true}} />
      </li>
      <li class="au-c-list__item">
        <WuRadioButton @label="Een bug melden" @value="toegankelijk@vlaanderen.be?subject=Vraag of probleem - Toegankelijk Vlaanderen" @onChange={{fn (mut this.mailto)}} @isBlock={{true}} />
      </li>
    </ul>
  </div>

  {{#if this.mailto}}
    <a href={{concat "mailto:" this.mailto}} class="au-c-button">Stel bericht op</a>
  {{else}}
    <AuButton @disabled="true">Stel bericht op</AuButton>
  {{/if}}
</form>
