<WithStatechart @state={{this.statechart}} as |chart|>
  <chart.if @state="init">
    <button {{on "click" (fn chart.preventAndSend "CLICK")}} type="button" class="au-c-button  au-c-button--tertiary au-c-button--alert">
      <AuIcon @icon="bin" @alignment="left" />
      {{yield}}
    </button>
  </chart.if>

  <chart.if @state="unconfirmed">
    <AuAlert @alertsize="tiny" @alertTitle="Ben je zeker dat je dit item wil verwijderen?">
      <AuButtonGroup>
        <button class="au-c-button" {{on "click" (fn chart.preventAndSend "CLICK")}} type="button">Ja</button>
        <button class="au-c-button au-c-button--secondary" {{on "click" (fn chart.preventAndSend "CANCEL")}} type="button">Nee</button>
      </AuButtonGroup>
    </AuAlert>
  </chart.if>

  <chart.if @state="confirmed">
    Action executed!
  </chart.if>
</WithStatechart>
