<UploadImage @poi={{@poi}} />

<table>
  <thead>
    <tr>
      <th>Image</th><th>Alt</th><th>Description</th><th>Actions</th>
    </tr>
  </thead>

  <SortableObjects
    @tagName="tbody"
    @sortEndAction={{this.persistImageOrder}}
    @enableSort={{true}}
    @useSwap={{true}}
    @inPlace={{true}}
    @sortableObjectList={{this.images}} >

    {{#each this.images as |image|}}
      <DraggableObject
        @tagName="tr"
        @content={{image}}
        @isSortable={{true}}>

        <td><img src="/images/{{image.id}}?height=120" alt="{{image.label}}"/></td>
        <td>
          <input {{on "input" (fn this.updateImage image "label")}} value={{image.label}} type="text" />
        </td>
        <td>
          <input {{on "input" (fn this.updateImage image "description")}} value={{image.description}} type="text" />
        </td>
        <td>
          <button type="button" {{on "click" (fn this.removeImage image)}}>remove</button>
          <button type="button" {{on "click" (fn this.imageUp image)}}>up</button>
          <button type="button" {{on "click" (fn this.imageDown image)}}>down</button>
        </td>
      </DraggableObject>
    {{/each}}
  </SortableObjects>
</table>