<WithStatechart @state={{this.statechart}} as |chart|>
  {{yield (hash reset=(fn chart.send "RESET"))}}
  <chart.if @state="init">
    <AuLoader />
  </chart.if>
  <chart.if @state="dataEntry">
    <p class="au-u-margin-bottom-tiny">
      <AuLabel for="boolean">Is deze eigenschap aanwezig?</AuLabel>
      <label class="au-c-toggle">
        <RadioButtons @selected={{this.currentValue}} @onSelect={{this.updateValue}} as |RadioButton|>
          <RadioButton @label="Ja" @value={{true}} />
          <RadioButton @label="Nee" @value={{false}} />
          <RadioButton @label="Niet ingevuld" @value={{undefined}} />
        </RadioButtons>
      </label>
    </p>
  </chart.if>
</WithStatechart>

<div>
  <Criteria::SelectBooleanCriterion @treeNode={{@treeNode}} @value={{this.currentValue}} as |label|>
    {{#if label}}
      <Labels::String @value={{label}} />
    {{/if}}
  </Criteria::SelectBooleanCriterion>
</div>