<WithStatechart @state={{this.statechart}} as |chart|>
  {{yield (hash reset=(fn chart.send "RESET"))}}
  <chart.if @state="init">
    <AuLoader />
  </chart.if>
  <chart.if @state="dataEntry">
    <p class="au-u-margin-bottom-small">
      <AuLabel for="count">Geef een hoeveelheid in.</AuLabel>
      <Input id="count" @value={{this.currentValue}} @type="number" class="au-c-input" />
    </p>
    <AuButton {{on "click" (fn chart.preventAndSend "SAVE")}} type="button">Opslaan</AuButton>
  </chart.if>
  <chart.if @state="saved">
    <p class="au-u-margin-bottom-small">
      <AuLabel for="count">Geef een hoeveelheid in.</AuLabel>
      <Input id="count" @value={{this.currentValue}} @type="number" class="au-c-input" />
    </p>
    <AuButton {{on "click" (fn chart.preventAndSend "SAVE")}} type="button">Opslaan</AuButton><span class="au-c-message"><AuIcon @icon="check" @size="large" />Opgeslagen</span>
  </chart.if>
  <chart.if @state="saving">
    <p class="au-u-margin-bottom-small">
      <AuLabel for="count">Geef een hoeveelheid in.</AuLabel>
      <Input id="count" @value={{this.currentValue}} @type="number" class="au-c-input" disabled/>
    </p>
    <AuButton @loading="true">Opslaan</AuButton>
  </chart.if>
</WithStatechart>
