<WithStatechart @state={{this.statechart}} as |chart|>
  {{yield (hash reset=(fn chart.send "RESET"))}}
  <chart.if @state="init">
    <AuLoader />
  </chart.if>
  <chart.if @state="dataEntry">
    <p class="au-u-margin-bottom-small">
      <AuLabel for="kilometers">Geef een waarde in km.</AuLabel>
      <input
        id="kilometers" class="au-c-input" type="number"
        value={{this.kilometerValue}}
        {{on "change" this.inputValueChanged}} />
      <span class="au-u-margin-left-tiny au-c-info-text">km</span>
    </p>
  </chart.if>
</WithStatechart>

<div>
  <Criteria::SelectCriterion
    @value={{this.kilometerValue}}
    @treeNode={{@treeNode}}
    as |label|>
    <Labels::NumericString
      @label={{label}}
      @value={{this.kilometerValue}} />
  </Criteria::SelectCriterion>
</div>