<div class="au-o-box">
  <div class="au-o-grid">
    <div class="au-o-grid__item au-u-1-3@small">
      <div class="au-c-image">
        <img src="/images/{{@model.id}}?height=600" alt="{{@model.description}}"/>
      </div>
    </div>
    <div class="au-o-grid__item au-u-2-3@small">
      <LinkTo @route='poi.show.tree' class="au-c-link au-c-link--secondary" @model={{this.poi}}>
        <AuIcon @icon="arrow-left" @alignment="left" />
        Terug
      </LinkTo>
      <div class="au-c-content au-u-margin-top-small">
        <p>
          <AuLabel for="label">Omschrijving</AuLabel>
          <AuTextarea @width="block" id="label" @value={{@model.label}} @key-down={{this.updateLabel}}></AuTextarea>
        </p>

        <p>
          <AuLabel for="description">Alternatieve tekst</AuLabel>
          <Input id="description" @type="text" class="au-c-input au-c-input--block" @value={{@model.description}} @key-down={{this.updatAlt}}/>
          <AuHelpText>Meer informatie: <a href="https://www.anysurfer.be/nl/documentatie/artikels/detail/tekstalternatieven" target="_blank" rel="noopener noreferrer" class="au-c-link">Welk tekstalternatief voor afbeeldingen</a></AuHelpText>
        </p>

        {{!-- <p>
          <AuLabel for="order">Order</AuLabel>
          <Input id="order" class="au-c-input au-c-input--block" @type="number" @value={{mut @model.order}}/>
        </p> --}}

        <AuButtonGroup>
          <AuButton type='button' {{on 'click' this.save}}>Opslaan</AuButton>
          <AuButton @skin="secondary" type='button' {{on 'click' this.delete}}>Verwijderen</AuButton>
        </AuButtonGroup>
      </div>
    </div>

  </div>
</div>