<AuToolbar class="au-u-padding-top au-u-margin-bottom" @border="top">
  <AuToolbarGroup>
    <AuHeading @level="2" @skin="3">
      Nieuw event
    </AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<WithStatechart @state={{this.statechart}} as |chart|>

  <chart.if @state="init">
    <form {{on "submit" (fn chart.preventAndSend "CREATE")}}>
      <AuLabel for="editevent">Naam</AuLabel>
      <AuInput @width="block" id="editevent" @type="string" @value={{this.title}} />
      <AuButtonGroup class="au-u-margin-top-small">
        <AuButton type="submit" {{on "click" (fn chart.preventAndSend "CREATE")}}>Aanmaken</AuButton>
        <AuButton type="button" @skin="secondary" {{on "click" (fn chart.preventAndSend "CLEAR")}}>Reset</AuButton>
      </AuButtonGroup>
    </form>
  </chart.if>

  <chart.if @state="creating">
    <div>
      <AuHeading @level="3" @skin="5">Event aanmaken</AuHeading>
      <AuLoader />
    </div>
  </chart.if>

  <chart.if @state="failed">
    <p>Oops, failed to create your event</p>
    <button type="button" {{on "click" (fn chart.preventAndSend "RESET")}}>RESET</button>
  </chart.if>

  <chart.if @state="created">
    <div>
      <AuHeading @level="3" @skin="5">Event aanmaken, doorsturen naar detailpagina.</AuHeading>
      <AuLoader />
    </div>
  </chart.if>

  <chart.if @state="failedTransitioning">
    ... failed to transition to your created experience ...
  </chart.if>

  <AuToolbar @border="top" class="au-u-margin-top au-u-padding-top-small">
    <AuToolbarGroup class="au-c-toolbar__group--row">
      <LinkTo class="au-c-link au-c-link--secondary" @route="poi.show.experiences.index" @model={{this.poi}}>
        <AuIcon @icon="arrow-left" @alignment="left" />
        Terug naar de locatie
      </LinkTo>
    </AuToolbarGroup>
  </AuToolbar>
</WithStatechart>
