{{#if this.handlerComponent}}
  {{component this.handlerComponent node=@node subject=@subject}}
{{else}}
  <WithStatechart @state={{this.statechart}} as |chart|>
    <li ...attributes>
      <div class="au-c-tree__item-header">
        {{#if @node.children.length}}
          <chart.if @state="open">
            <button class="au-c-tree__button" type="button" {{on "click" (fn chart.preventAndSend "TOGGLE_OPEN")}} aria-expanded="true">
              <AuIcon @icon="nav-down" />
              {{this.nodeTitle}}
            </button>
          </chart.if>
          <chart.if @state="collapsed">
            <button class="au-c-tree__button" type="button" {{on "click" (fn chart.preventAndSend "TOGGLE_OPEN")}}  aria-expanded="false">
              <AuIcon @icon="nav-right" />
              {{this.nodeTitle}}
            </button>
          </chart.if>
          <chart.if @state="loading">
            <button class="au-c-tree__button" type="button" {{on "click" (fn chart.preventAndSend "TOGGLE_OPEN")}}  aria-expanded="false">
              <AuIcon @icon="nav-down" />
              {{this.nodeTitle}}
            </button>
          </chart.if>
        {{else}}
          <AuHeading @level="3" @skin="6">
            {{this.nodeTitle}}
          </AuHeading>
        {{/if}}

        {{!-- <p class="au-c-tree__uri">{{@node.uri}}</p> --}}
      </div>

      <chart.if @state="error">
        ERROR OCCURRED
      </chart.if>

      <chart.if @state="open">
        {{#if @node.children.length}}
          <ul class="au-c-tree__list">
            {{#each this.sortedChildren as |child|}}
              <Tree::Node @node={{child}} @subject={{@subject}} class="au-c-tree__item au-c-tree__item--child">
                <LinkTo class="au-c-tree__edit" @route="poi.show.tree.edit" @models={{array child.id @subject.id}}>
                  <AuIcon @icon="pencil" />
                  <span class="au-c-tree__edit-label">Aanpassen</span>
                </LinkTo>
              </Tree::Node>
            {{/each}}
          </ul>
        {{/if}}
      </chart.if>
      {{yield}}
    </li>
  </WithStatechart>
{{/if}}
