{{page-title "Mock login by point of interest"}}

<div class="au-u-margin-bottom">
  <AuLabel for="loginSearch" >Zoek locaties</AuLabel>
  <AuInput id="loginSearch" @width="block" {{on "input" this.searchEvent}} value={{this.search}} />
</div>

{{!-- {{get this.pois "length"}} --}}

<ul class="au-c-list">
  {{#each this.pois as |poi|}}
    <li class="au-c-list__item">
      <AuButton @skin="secondary" @width="block" {{on "click" (fn this.login poi)}} >
        {{poi.id}} – {{poi.label}}
      </AuButton>
    </li>
  {{/each}}
</ul>

<ul class="au-c-list-horizontal au-u-margin-top">
  {{#if (gt this.visiblePage 1)}}
  <li class="au-c-list-horizontal__item">
    <AuButton @skin="tertiary" {{on "click" this.previousPage}}>
      <AuIcon @icon="arrow-left" @alignment="left" />
      Previous
    </AuButton>
  </li>
   {{/if}}
  <li class="au-c-list-horizontal__item">
    <span class="au-c-helptext">Pagina {{this.visiblePage}} van {{this.lastPage}}</span>
  </li>
  {{#if (lt this.visiblePage this.lastPage)}}
  <li class="au-c-list-horizontal__item">
    <AuButton @skin="tertiary" {{on "click" this.nextPage}}>
      Next
      <AuIcon @icon="arrow-right" @alignment="right" />
    </AuButton>
  </li>
  {{/if}}
</ul>

{{outlet}}