<div class='toevla-image-edit'>
<a href="javascript:history.back()">Treug</a>
<br>
{{@model.id}}
<br>
<img src="/images/{{@model.id}}?height=600" alt="{{@model.label}}"/>
<br>
Label: <Input id="site" type="text" @value={{@model.label}} @key-down={{this.updateLabel}}/>
<br>
<button type='button' {{on 'click' this.save}}>Opslaan</button><button type='button' {{on 'click' this.delete}}>Verwijderen</button>
</div>