<h3>We are editing the scoring for {{@model.treeNode.title}}</h3>

<p>
  <dl>
    <dt>Tree node</dt><dd>{{@model.treeNode.uri}}</dd>
    <dt>Edit component</dt><dd>{{this.extendedEditInfo.component}}</dd>
  </dl>
</p>

<form {{on "submit" this.submit}}>
  <label>Score
    <Input @value={{this.currentScore}} @placeholder="Brons" />
  </label>
  <button type="submit" {{on "click" this.submit}}>Set</button>
</form>

{{#if this.extendedEditInfo}}
  {{component this.extendedEditInfo.component
      key=this.extendedEditInfo.key
      treeNode=@model.treeNode
      experience=@model.experience}}
{{/if}}

{{outlet}}