<div class="au-c-action-sidebar">
  <div class="au-o-box au-c-action-sidebar__header">
    <AuHeading @level="4" @skin="3">
      {{@model.treeNode.title}}
    </AuHeading>
    <p class="au-c-info-text"><strong>Tree node:</strong> {{@model.treeNode.uri}}</p>
    <p class="au-c-info-text"><strong>Edit type:</strong> {{this.extendedEditInfo.component}}</p>

    <LinkTo @route="experience.show.tree" @model={{@model.experience}} class="au-c-close au-c-close--large">
      <AuIcon @icon="cross" @size="large" />
      <span class="au-u-hidden-visually">Sluiten</span>
    </LinkTo>

  </div>

  <div class="au-o-box au-c-sidebar__content">
    {{#if this.extendedEditInfo}}
      {{#component this.extendedEditInfo.component
           key=this.extendedEditInfo.key
           treeNode=@model.treeNode
           experience=@model.experience as |events|}}
        <span {{did-update events.reset @model.treeNode}}></span>
      {{/component}}
    {{/if}}

    {{outlet}}

    <hr class="au-c-hr">

    <form {{on "submit" this.submit}} class="au-c-form">
      <p>
        <AuLabel for="score">Score</AuLabel>
        <AuInput id="score" @value={{this.currentScore}} @placeholder="Brons" />
      </p>
      <AuButton type="submit" {{on "click" this.submit}}>Instellen</AuButton>
    </form>

  </div>

</div>

