{{page-title "Aanmelden – Toegankelijk Vlaanderen"}}

<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <main id="content">
    <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is gelijke kansen">
      <img sizes="50vw" src="/assets/images/toevla-header-1600.jpg" srcset="/assets/images/toevla-header-320.jpg 320w, /assets/images/toevla-header-1024.jpg 1024w, /assets/images/toevla-header-1600.jpg 1600w" alt="Foto van een parkeerplaats voor rolstoelgebruikers.">
    </AuContentHeader>
    <section class="au-o-region-large">
      <div class="au-o-layout">
        <AuHeading @skin="2" class="au-u-margin-bottom">Login</AuHeading>
        <div class="au-u-margin-bottom">
          <div class="au-u-margin-bottom-small">
            <AuLabel for="loginEmail" class="au-u-margin-bottom-none">Geef je e-mail adres in</AuLabel>
            <AuHelpText @skin="secondary" class="au-u-margin-bottom-tiny">Na het versturen van je e-mail krijg je een unieke link toegestuurd om in te loggen.</AuHelpText>
            <AuInput disabled={{this.disableInput}} id="loginEmail" @width="block" @value={{this.emailAddress}} />
          </div>
          {{#if (and (not this.requesting) (not this.requested))}}
            <AuButton {{on "click" (fn this.requestLoginLink this.emailAddress)}}>Verkrijg login link</AuButton>
          {{/if}}
          {{#if this.requesting}}
            <AuButton @disabled="true" @loading="true">Verkrijg login link</AuButton>
            <AuHelpText>Link wordt aangevraagd</AuHelpText>
          {{/if}}
          {{#if this.requested}}
            <AuButton @disabled="true">Verkrijg login link</AuButton>
            <AuHelpText>Login link aangevraagd</AuHelpText>
          {{/if}}
        </div>
        {{outlet}}

        <section class="au-o-region-large au-u-border-top">
          <div class="au-o-layout au-o-layout--large">
            <AuContent @skin="large" class="au-u-content-center">
              <h2>Nog niet geregistreerd?</h2>
              <p>Neem contact met ons op op <a href="mailto:toegankelijk@vlaanderen.be?subject=Registratie aanvraag - Toegankelijk Vlaanderen" class="au-c-link">toegankelijk@vlaanderen.be</a><br> om je e-mail adres en organisatie te registeren.</p>
            </AuContent>
          </div>
        </section>
      </div>
    </section>
  </main>

  <AuMainFooter>
    <AuHeading @level="3" @skin="4">
      Toegankelijk.Vlaanderen is een officiële website van de Vlaamse overheid
    </AuHeading>
    <AuContent @skin="small">
      <p>Uitgegeven door <a class="au-c-link" href="https://www.vlaanderen.be/organisaties/administratieve-diensten-van-de-vlaamse-overheid/beleidsdomein-kanselarij-en-bestuur/agentschap-binnenlands-bestuur">Agentschap Binnenlands Bestuur</a> i.s.m. <a href="https://www.inter.vlaanderen/" class="au-c-link">Inter</a></p>
      <ul class="au-c-list-horizontal">
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.disclaimer" @skin="secondary">Disclaimer</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.cookiestatement" @skin="secondary">Cookieverklaring</AuLink>
        </li>
        <li class="au-c-list-horizontal__item">
          <AuLink @linkRoute="legal.toegankelijkheidsverklaring" @skin="secondary">Toegankelijkheidsverklaring</AuLink>
        </li>
      </ul>
    </AuContent>
  </AuMainFooter>
</div>
